# Environment variables
.env
*.env
*.env.local
*.env.development
*.env.test
*.env.production

text.txt

# Dependencies
node_modules/
*/node_modules/

# Build outputs
.next/
dist/
build/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
*.pem
*.key

